/* ================= GLOBAL ================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial;
}

.page {
  max-width: 1200px;
  margin: auto;
}


/* ================= TOP TABS ================= */

.tabs-wrapper {
  border-bottom: 1px solid #e1e4e8;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  gap: 10px;
  padding: 0 20px;
}

.tab {
  padding: 12px 16px;
  cursor: pointer;
  white-space: nowrap;
}

.tab.active {
  border-bottom: 2px solid #f9826c;
  font-weight: 600;
}
