/* You can add global styles to this file, and also import other style files */
/* ================= GLOBAL ================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial;
}

.page {
  max-width: 1200px;
  margin: auto;
}

/* ================= TOP TABS ================= */

.tabs-wrapper {
  border-bottom: 1px solid #e1e4e8;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  gap: 10px;
  padding: 0 20px;
}

.tab {
  padding: 12px 16px;
  cursor: pointer;
  white-space: nowrap;
}

.tab.active {
  border-bottom: 2px solid #f9826c;
  font-weight: 600;
}

/* ================= MAIN LAYOUT ================= */

.layout {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 30px;
  padding: 0 20px;
}

/* ================= SIDEBAR ================= */

.section {
  margin-top: 25px;
}

.section-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.achievements {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.achievement-badge {
  width: 48px;
  height: 48px;
}

.orgs {
  display: flex;
  gap: 10px;
}

.org-logo {
  width: 40px;
  height: 40px;
  border-radius: 6px;
}

.avatar {
  width: 100%;
  border-radius: 50%;
}

.name {
  margin-top: 12px;
  font-size: 22px;
  font-weight: bold;
}

.username {
  color: gray;
  margin-bottom: 10px;
}

.bio {
  margin: 10px 0;
}

.edit-btn {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  background: #f6f8fa;
  border-radius: 6px;
  cursor: pointer;
  margin: 10px 0;
  font-weight: 500;
}

.stats {
  display: flex;
  gap: 8px;
  margin: 15px 0;
}

.info {
  margin-top: 15px;
}

.info-item {
  display: flex;
  margin: 6px 0;
  font-size: 14px;
  gap: 20px;
  align-items: center;
}



@media (max-width: 1024px) {

  .layout {
    grid-template-columns: 240px 1fr;
  }

  .repo-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {

  .layout {
    grid-template-columns: 1fr;
  }

  .sidebar {
    order: 2;
  }

  .main {
    order: 1;
  }

  .contribution-body {
    grid-template-columns: 1fr;
  }

  .year-selector {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {

  .tabs {
    overflow-x: auto;
  }

  .repo-grid {
    grid-template-columns: 1fr;
  }

  .heatmap-grid {
    overflow-x: auto;
  }
}

.activity-section {
  display: grid;
  grid-template-columns: 1fr 300px;
  margin-top: -170px;
  border: 1px solid #d0d7de;
  border-radius: 8px;
  padding: 16px;
  background: white;
  width: 90% ;

}

.activity-left {
  padding-right: 20px;
}

.org-pills {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

.pill {
  background: #f6f8fa;
  border-radius: 20px;
  padding: 4px 10px;
  font-size: 12px;
}

.repo-line a {
  color: #0969da;
  margin-right: 6px;
}

.activity-graph {
  border-left: 1px solid #e1e4e8;
  padding-left: 20px;
  height: 180px;
}

#xyGraph {
  width: 100%;
  height: 160px;
}
